@import "_variables";

.hero {
  padding: 74px 16px 88px;
  @media (min-width: $tablet) {
    max-width: 768px;
    margin: 0 auto;
  }
  background-color: #ffffff;
  max-width: 800px;
  margin: auto;
  text-align: center;
  &__avatar {
    box-sizing: content-box;
    border-radius: 50%;
    border: 16px solid #f6f9fd;
    width: 96px;
    height: 96px;
    @media (min-width: $desktop) {
      width: 178px;
      height: 178px;
      border: 24px solid #f6f9fd;
    }
  }
  &__bubble {
    position: absolute;
    left: calc(50% + 90px);
    top: -26px;
  }
  &__email {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    background-color: $lightBlue;
    border-radius: 64px;
    text-decoration: none;
    color: white;
    padding: 10px 24px;
    display: inline-block;
  }
  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__header {
    font-weight: 700;
    line-height: 32px;
    font-style: normal;
    font-size: 26px;
    padding-bottom: 24px;
    text-align: center;
    @media (min-width: $desktop) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__hello {
    display: none;
    @media (min-width: $desktop) {
      background: $specialBlue;
      color: white;
      border-radius: 16px;
      display: block;
      padding: 16px 19px;
      font-weight: bold;
      font-size: 32px;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 17px;
        height: 22px;
        left: 32px;
        top: 100%;
        background: url("../assets/img/Speech_cloud.svg");
      }
    }
  }
  &__page-links {
    text-decoration-line: none;
    color: $lightBlue;
    font-weight: 700;
    size: 20px;
  }
  &__paragraph {
    color: $text;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    font-style: normal;
    margin-bottom: 48px;
    text-align: center;
    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__special {
    color: $specialBlue;
  }
}
