// Hero section
$text: #425a70;
$consoleWhite: #808082;
$lightConsoleWhite: #A3A3A4;
$gray: #212528;
$darkGray: #1e1e1e;
$mediumGray: #464a4d;
$textDark: #234361;
$specialBlue: #1070ca;
$lightBlue: #4DA8FF;
$listText: #DBEAF7;
$linkConsole: #14B5D0;